<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!--PANEL-->
      <add name="DefaultPanel" virtualUrl="^~/profpanel" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PanelGiris/Giris.aspx" ignoreCase="true" />
      <!--PANEL END-->
      
      
      <!--W-SITE-->
      <add name="W-HaberDetay" virtualUrl="^~/(.*)/(.*)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/W-HaberDetay/HaberDetay.aspx?Haber_Url_1=$1&amp;Haber_Url_2=$2" ignoreCase="true" />
      <add name="W-Default" virtualUrl="^~/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/W-Anasayfa/Anasayfa.aspx" ignoreCase="true" />
      
      <!--W-SITE END-->
    
    </rewrites>
  </urlrewritingnet>
  <system.webServer>
    <modules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <pages validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--<httpRuntime targetFramework="4.6.1"/>-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--<add name="BglConfig" connectionString="Data Source=89.252.180.81\MSSQLSERVER2014;Initial Catalog=DBProfHaber;User Id=sampiyo2_adminprof;Password=8917fRKknt;Integrated Security=False;" />-->
    <add name="BglConfig" connectionString="Data Source=.;Initial Catalog=dbProfHaber;Integrated Security=true;" />


  </connectionStrings>
</configuration>
